# This gitignore file includes specifications for both C and MATLAB/SIMULINK
# gitignore template for C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# gitignore template for MATLAB, copied from https://github.com/github/gitignore/blob/main/Global/MATLAB.gitignore

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
#slprj/ #simlink code generation files
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
#*.slxc #simlink cache files for faster simulation

# Octave session info
octave-workspace

# Extensions to Ignore for CarMaker
**/*.roadgeo*

# Other extensions to Ignore for gitignore
**/*.log*
**/*.tmp*
**/*.info*
**/*.0*


#MATLAB PROJECT resources diretory to ignore
#resources/ #this is needed for Simulink Projects to work properly, so we keep it version controlled
derived/
CM_GDP_CU/*.txt #Text file generated by CarMaker Updating CM Project folder
